.idea
cmake-build-debug
config
!include/config
!src/config
out
.vs
cmake-build-debug-visual-studio-1
cmake-build-debug-visual-studio
cmake-build-release-visual-studio
cmake-build-release
*.7z
dll/opencv_world490d.dll
dll/onnxruntime_providers_shared.dll
dll/onnxruntime_providers_cuda.dll
